*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffe7b3;
    overflow-x: hidden;
}

header {
    font-size: 150px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.title-name {
    margin-right: 400px;
    font-size: 50px;
}

.hero {
    width: 100%;
    height: 500px;
    border-radius: 10px;
    
}

#section1 {
    font-size: 35px;
    text-align: center;
    margin-top: 20px;
    color: #996600;
    text-decoration: underline;

}

.animals {
    display: flex;
    justify-content: space-around;
}

.animals-detail {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.animals-detail > img {
    height: 220px;
    border-radius: 5px;
}

.animals-detail > p {
    text-align: center;
}

button {
    margin-top: 10px;
    background-color: #b38600;
    border-radius: 5px;
    color: #4d0000;
}

#details{
    font-size: 30px;
    text-align: center;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    margin-bottom: 20px;
}

#text {
    background-color: #39e600;
    font-size: 30px;
    font-style: italic;
}

fieldset {
    margin: 20px;
    padding: 20px;
    
}

input {
    padding: 5px;
    margin: 5px;
    border-radius: 5px solid brown;
    justify-items: center;
}

.process {
    float: center;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: #996600;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}